.about {
  padding: 15px 15px 60px 15px;
  header {
    @include headerContent;
  }
  &__description {
    padding: 0 10px;
    @include breakpoint("large") {
      padding: 0 40px;
    }
    .about__text {
      text-align: justify;
      font-size: 0.9rem;
      font-family: "Courier New", Courier, monospace;
      @include breakpoint("medium") {
        font-size: 1rem;
      }
      @include breakpoint("large") {
        font-size: 1.2rem;
      }
    }
  }
  &__stack {
    margin-top: 50px;
    h2,
    h3 {
      text-align: center;
    }
    h3 {
      margin-top: 60px;
    }
    &-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px 20px 0 20px;
      .about {
        &__cover {
          position: absolute;
          left: 300px;
          top: 160px;
          background-color: $lightBlueRGBA;
          transform: rotate(35deg);
          transform-origin: top left;
          z-index: -1;
          @include size(300px, 400px);
          &-animation {
            @include animateWave;
          }
          &--basic {
            background-color: $darkGreenRGBA;
          }
        }
        &__technologie {
          background-color: white;
          background-repeat: no-repeat;
          background-size: 250px 250px;
          border-radius: 49%;
          font-size: 2.1rem;
          font-family: "Courier New", Courier, monospace;
          font-weight: 600;
          margin: 20px;
          overflow: hidden;
          position: relative;
          z-index: 2;
          transform: scale(0.05);
          @include size(250px, 250px);
          &:nth-child(1) {
            .about__technologie-name {
              > img {
                width: 100px;
              }
            }
          }
          &-display {
            @include scaleAnim;
          }
          &-name {
            color: $dark;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include centerXY;
            > img {
              width: 90px;
              min-height: 110px;
              height: auto;
              margin: 0 auto;
            }
            > span {
              display: block;
              width: 100%;
              text-align: center;
            }
          }
          &-extra {
            position: relative;
            @include size(210px, 210px);
            @include centerXY;
            > span {
              margin: 0 10px;
              font-size: 4rem;
              opacity: 0.1;
              position: absolute;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .tooltip__technologie {
    max-width: 300px;
    max-height: 160px;
    height: auto;
    overflow: hidden;
    .tooltip__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 10px;
      height: 40px;
      > img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        padding-right: 10px;
      }
      .tooltip__name {
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.05rem;
      }
    }
  }
}
