//all colors
$black: #000000;
$white: #ffffff;
$darkBlue: #302c55;
$gray: #bebebe;
$dark: #191919;
$darkHover: #010101;
$darkRed: #cc0000;
$darkWhite: #cccccc;
$darkGreen: #00b400;
$grayish: #343a40;
$lightBlack: #333333;
$lightBlue: #0e95c8;
$lightGrayish: #f8f9fa;
$smoothGreen: #19f6e8;
$tomato: #ff6347;
$red: #fc0000;

//rgb / rgba
$darkGreenRGBA: rgba(0, 180, 0, 0.8);
$lightBlueRGBA: rgba(14, 149, 200, 0.8);
$lightGrayRGBA: rgba(255, 255, 255, 0.2);
