$breakpoints: (
  "small": 450px,
  "medium": 768px,
  "large": 1024px
) !default;

@mixin breakpoint($value) {
  @if map-has-key($breakpoints, $value) {
    @media (min-width: map-get($breakpoints, $value)) {
      @content;
    }
  }
}

@mixin borderOval {
  border: 2px solid $darkRed;
  border-radius: 49%;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin positionAbsolute($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin centerXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
