.projects {
  padding: 0 10px;
  header {
    @include headerContent;
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-height: calc(100vh - 180px);
    padding: 50px 0;

    .project {
      width: 300px;
      height: 300px;
      border: 1px solid white;
      border-radius: 6px;
      margin: 10px;
      overflow: hidden;
      position: relative;
      z-index: 1;
      transition: opacity 0.2s;
      -webkit-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
      -moz-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
      box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
      &:hover {
        img {
          opacity: 0.3;
          transform: translate(-50%, -50%) scale(1.1);
        }
        .project__content {
          opacity: 1;
          transform: scale(1);
        }
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 120px;
        z-index: 0;
        opacity: 1;
      }
      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 35px;
        background-color: $lightGrayRGBA;
        z-index: 2;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s;
        opacity: 0;
        transform: scale(0);
        .project {
          &__name {
            font-family: "Courier New", Courier, monospace;
            font-weight: 600;
            font-size: 1.2rem;
            margin: 0 auto;
            z-index: 2;
            a {
              text-decoration: none;
              text-align: center;
              color: white;

              transition: 0.2s;
              &:hover {
                color: $darkGreen;
              }
            }
          }
          &__desc {
            padding: 20px 10px 10px 10px;
            position: relative;
            text-align: center;
            z-index: 2;
            width: 210px;
            height: 40px;
            vertical-align: top;
            color: white;
            &::before {
              content: "";
              position: absolute;
              top: 8px;
              left: 0;
              height: 1px;
              width: 100%;
              background-color: $darkWhite;
              @include size(100%, 1px);
            }
          }
          &__actions {
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
            z-index: 2;
            .project__action {
              margin: 4px;
              cursor: pointer;
              position: relative;
              transition: 0.3s;
              text-align: center;
              @include size(120px, 40px);
              &:hover {
                .project__action-anim {
                  stroke-width: 2px;
                  stroke-dashoffset: 0;
                  stroke-dasharray: 0;
                }
              }
              span,
              a {
                top: -33px;
                position: relative;
              }
              a {
                text-decoration: none;
                color: white;
                padding: 10px;
              }
              &-anim {
                stroke-dasharray: 73 540;
                stroke-dashoffset: -183;
                stroke-width: 4px;
                fill: transparent;
                transition: stroke-width 1s, stroke-dashoffset 1s,
                  stroke-dasharray 1s;
              }
              &--github {
                .project__action-anim {
                  stroke: $smoothGreen;
                }
              }
              &--desc {
                .project__action-anim {
                  stroke: $darkGreen;
                }
              }
            }
          }
        }
      }
    }
  }
  &__full-desc {
    margin: 30px auto 40px auto;
    background-color: $lightGrayish;
    border: 1px solid $white;
    border-radius: 6px;
    overflow: hidden;
    min-height: 100px;
    max-width: 1500px;
    padding-bottom: 20px;
    position: relative;
    @include size(auto, auto);
    .project__full {
      &-close {
        position: absolute;
        right: 15px;
        top: 15px;
      }
      &-description {
        padding: 10px 20px;
        > p {
          color: $lightBlack;
        }
        > ul {
          list-style: circle;
          > li {
            color: $lightBlack;
            line-height: 1.4rem;
          }
        }
      }
      &-name {
        background-color: $grayish;
        padding: 15px;
      }
      &-tech {
        padding: 0 20px;
        & > p {
          color: $dark;
          font-weight: 600;
          width: fit-content;
          padding-bottom: 5px;
          border-bottom: 1px solid $gray;
        }
        &-content {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}
